@model PitWorks.Models.EditDefectModel

<div class="modal-content" style="height:550px; width:1200px">
    <div class="modal-header">
        <button id="closeModal" class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Редактировать дефект</h4>
    </div>
    <div class="modal-body">
      @using (Html.BeginForm())
      {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="row">
                @Html.LabelFor(m => m.status, "Сводка подготовлена: ")
                @Html.CheckBoxFor(m => m.status, Model.status)
            </div>
            <div class="row">
                @Html.HiddenFor(model => model.defect.id)
                @Html.HiddenFor(model => model.defect.id_ВТД)
                @Html.HiddenFor(model => model.defect.id_ДДО)
                @Html.HiddenFor(model => model.defect.id_Ремонта)
                @Html.HiddenFor(model => model.defect.id_объекта)
                @Html.HiddenFor(model => model.defect.id_признак_состояния)

                @Html.HiddenFor(model => model.objectID)
                 <div class="col-md-4">
                     <span><strong>Внутритрубная диагностиа</strong></span>         
                    @Html.HiddenFor(model => model.vtd.id)
                    <div class="form-group">
                        @Html.LabelFor(model => model.vtd.id_виды_дефектов, "Вид дефекта", htmlAttributes: new { @class = "input-group-addon col-md-2", @style = "width:170px; line-height: inherit" })
                        @Html.DropDownListFor(model => model.vtd.id_виды_дефектов, Model.defKind, htmlAttributes: new { @class = "form-control", @style = "width:195px" })
                    </div>
                     <div class="form-group">
                         @Html.LabelFor(model => model.vtd.Ориент__дефекта, "Ориентация дефекта", htmlAttributes: new { @class = "input-group-addon col-md-2", @style = "width:170px; line-height: inherit" })
                         @Html.EditorFor(model => model.vtd.Ориент__дефекта, new { htmlAttributes = new { @class = "form-control", @style = "width:auto" } })
                     </div>
                     <div class="form-group">
                         @Html.LabelFor(model => model.vtd.Длина_дефекта, "Длина дефекта", htmlAttributes: new { @class = "input-group-addon col-md-2", @style = "width:170px; line-height: inherit" })
                         @Html.EditorFor(model => model.vtd.Длина_дефекта, new { htmlAttributes = new { @class = "form-control", @style = "width:auto" } })
                     </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.vtd.Ширина_дефекта, "Ширина дефекта", htmlAttributes: new { @class = "input-group-addon col-md-2", @style = "width:170px; line-height: inherit" })
                        @Html.EditorFor(model => model.vtd.Ширина_дефекта, new { htmlAttributes = new { @class = "form-control", @style = "width:auto" } })
                    </div>
                    <p>
                        @Html.LabelFor(model => model.vtd.Глубина_дефекта, "Глубина дефекта", htmlAttributes: new { @class = "input-group-addon col-md-2", @style = "width:170px; line-height: inherit" })
                        @Html.EditorFor(model => model.vtd.Глубина_дефекта, new { htmlAttributes = new { @class = "form-control", @style = "width:auto" } })
                    </p>
                    <p>
                        @Html.LabelFor(model => model.vtd.Срок_НО_по_ВТД, "Срок НО по ВТД", htmlAttributes: new { @class = "input-group-addon col-md-2", @style = "width:170px; line-height: inherit" })
                        @Html.EditorFor(model => model.vtd.Срок_НО_по_ВТД, new { htmlAttributes = new { @class = "form-control", @style = "width:auto" } })
                    </p>
                    <p>
                        @Html.LabelFor(model => model.vtd.Дата_проведения_ВТД, "Дата проведения ВТД", htmlAttributes: new { @class = "input-group-addon col-md-2", @style = "width:170px; line-height: inherit" })
                        @Html.EditorFor(model => model.vtd.Дата_проведения_ВТД, new { htmlAttributes = new { @class = "form-control", @style = "width:auto" } })
                    </p>
                </div>

                <div class="col-md-4">
                    <span><strong>Дополнительное диагностическое обследование</strong></span>
                    @Html.HiddenFor(model => model.ddo.id)
                    <p>
                        @Html.LabelFor(model => model.ddo.Номер_МПР, "Номер МПР", htmlAttributes: new { @class = "input-group-addon col-md-2", @style = "width:170px; line-height: inherit" })
                        @Html.EditorFor(model => model.ddo.Номер_МПР, new { htmlAttributes = new { @class = "form-control", @style = "width:auto" } })
                    </p>
                    <p>
                        @Html.LabelFor(model => model.ddo.Номер_акта_НО, "Номер акта НО", htmlAttributes: new { @class = "input-group-addon col-md-2", @style = "width:170px; line-height: inherit" })
                        @Html.EditorFor(model => model.ddo.Номер_акта_НО, new { htmlAttributes = new { @class = "form-control", @style = "width:auto" } })
                    </p>
                    <p>
                        @Html.LabelFor(model => model.ddo.Дата_начала_ДДО, "Дата начала ДДО", htmlAttributes: new { @class = "input-group-addon col-md-2", @style = "width:170px; line-height: inherit" })
                        @Html.EditorFor(model => model.ddo.Дата_начала_ДДО, new { htmlAttributes = new { @class = "form-control", @style = "width:auto" } })
                    </p>
                    <p>
                        @Html.LabelFor(model => model.ddo.Дата_окончания_ДДО, "Дата окончания ДДО", htmlAttributes: new { @class = "input-group-addon col-md-2", @style = "width:170px; line-height: inherit" })
                        @Html.EditorFor(model => model.ddo.Дата_окончания_ДДО, new { htmlAttributes = new { @class = "form-control", @style = "width:auto" } })
                    </p>
                    <p>
                        @Html.LabelFor(model => model.ddo.Разр__давление, "Разр. давление", htmlAttributes: new { @class = "input-group-addon col-md-2", @style = "width:170px; line-height: inherit" })
                        @Html.EditorFor(model => model.ddo.Разр__давление, new { htmlAttributes = new { @class = "form-control", @style = "width:auto" } })
                    </p>
                    <p>
                        @Html.LabelFor(model => model.ddo.Срок_ремонта, "Срок ремонта", htmlAttributes: new { @class = "input-group-addon col-md-2", @style = "width:170px; line-height: inherit" })
                        @Html.EditorFor(model => model.ddo.Срок_ремонта, new { htmlAttributes = new { @class = "form-control", @style = "width:auto" } })
                    </p>
                    <p>
                        @Html.LabelFor(model => model.ddo.id_результаты_ДДО, "Результаты ДДО", htmlAttributes: new { @class = "input-group-addon col-md-2", @style = "width:170px; line-height: inherit" })
                        @Html.DropDownListFor(model => model.ddo.id_результаты_ДДО, Model.resultDDO, htmlAttributes: new { @class = "form-control", @style = "width:195px" })
                    </p>
                </div>

                <div class="col-md-4">
                    <span><strong>Ремонт</strong></span>
                    @Html.HiddenFor(model => model.repair.id)
                    <p>
                        @Html.LabelFor(model => model.repair.Дата_начала, "Дата начала", htmlAttributes: new { @class = "input-group-addon col-md-2", @style = "width:170px; line-height: inherit" })
                        @Html.EditorFor(model => model.repair.Дата_начала, new { htmlAttributes = new { @class = "form-control", @style = "width:auto" } })
                    </p>
                    <p>
                        @Html.LabelFor(model => model.repair.Дата_окончания, "Дата окончания", htmlAttributes: new { @class = "input-group-addon col-md-2", @style = "width:170px; line-height: inherit" })
                        @Html.EditorFor(model => model.repair.Дата_окончания, new { htmlAttributes = new { @class = "form-control", @style = "width:auto" } })
                    </p>
                    <p>
                        @Html.LabelFor(model => model.repair.id_виды_ремонта, "Вид ремонта", htmlAttributes: new { @class = "input-group-addon col-md-2", @style = "width:170px; line-height: inherit" })
                        @Html.DropDownListFor(model => model.repair.id_виды_ремонта, Model.repairKind, htmlAttributes: new { @class = "form-control", @style = "width:195px" })
                    </p>
                    <p>
                        @Html.LabelFor(model => model.repair.Примечание, "Примечание", htmlAttributes: new { @class = "input-group-addon col-md-2", @style = "width:170px; line-height: inherit" })
                        @Html.EditorFor(model => model.repair.Примечание, new { htmlAttributes = new { @class = "form-control", @style = "width:auto" } })
                    </p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-8 col-md-1">
                    <button class="btn btn-default" type="submit">Ok</button>
                    @*<input type="submit" id="ok" value="Ok" class="btn btn-default" />*@  
                </div>
                <button id="cancel" class="btn btn-default col-md-1">Отмена</button>
            </div>
      }
        
    </div> <!--modal-body-->

        @*<div class="row">
          
            <div class="col-md-4">
                <span><strong>Ремонт</strong></span>
                <div class="input-group">
                    <label class="input-group-addon" style="width:130px" id="basic-addon1">Дата начала</label>
                    <input id="repair01" type="date" style="width:170px" class="form-control" placeholder="">
                </div>
                <div class="input-group">
                    <label class="input-group-addon" style="width:130px" id="basic-addon1">Дата окончания</label>
                    <input id="repair02" type="date" style="width:170px" class="form-control" placeholder="">
                </div>
                <div class="input-group">
                    <label class="input-group-addon" style="width:130px" id="basic-addon1">Вид ремонта</label>
                    <select id="repair03" style="width:170px" class="form-control">
                        <option value="0">Дефект изоляции устранен</option>
                        <option value="1">Устранено наплавкой</option>
                        <option value="2">Устранено шлифовкой</option>
                        <option value="3">Устранено заменой катушки</option>
                        <option value="4">Устранено заменой участка</option>
                    </select>
                </div>
                <div class="input-group">
                    <label class="input-group-addon" style="width:130px" id="basic-addon1">Примечание</label>
                    <input id="repair04" type="text" style="width:170px" class="form-control" placeholder="">
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <button id="ok" class="btn btn-primary col-md-offset-8 col-md-1">Ок</button>
            <button id="cancel" class="btn btn-default col-md-1">Отмена</button>
        </div>
    </div>*@
</div>


<script>
    $('#yo').click(function (e){
        console.log('@Model.vtd.Ориент__дефекта');
    });

    $('#ok').click(function (e) {
        //e.preventDefault();
        
   //     refreshObjectsList()

   //     //Обновить лист дефектов
   //     //refreshDefectsList(objID)
   //     //----------------------

   //     $('#closeModal').click();

   //     //var defects = [];

   //     //defects[0] = vtd01.value;
   //     //defects[1] = vtd02.value;
   //     //defects[2] = vtd03.value;
   //     //defects[3] = vtd04.value;
   //     //defects[4] = vtd05.value;
   //     //defects[5] = vtd06.value;
   //     //defects[6] = vtd07.value;

   //     //defects[7] = ddo01.value;
   //     //defects[8] = ddo02.value;
   //     //defects[9] = ddo03.value;
   //     //defects[10] = ddo04.value;
   //     //defects[11] = ddo05.value;
   //     //defects[12] = ddo06.value;
   //     //defects[13] = ddo07.value;

   //     //defects[14] = repair01.value;
   //     //defects[15] = repair02.value;
   //     //defects[16] = repair03.value;
   //     //defects[17] = repair04.value;

   //     ////убрать, который не нужен

   //     //$.ajax({
   //     //    url: 'EditDefect',
   //     //    type: 'POST',
   //     //    async: false,
   //     //    data: {
   //     //        objectID: sessionStorage.getItem('objID'),
   //     //        defects: defects
   //     //    },
   //     //    success: function (data) {
   //     //        refreshObjectsList();
   //     //        refreshDefectsList(data);

   //     //        $('#closeModal').click();
   //     //    }
   //     //});

   //     function refreshObjectsList() {
   //         $.ajax({
   //             url: 'ListObjectsPartial',
   //             type: 'get',
   //             async: false,
   //             data: {
   //                 lpuIDListJSON: "",
   //             },
   //             success: function (data) {
   //                 console.log("after add:")
   //                 console.log(data);
   //                 $('#listObjects').html(data);
   //             }
   //         });
   //     }

   //     function refreshDefectsList(objID) {
   //         $.ajax({
   //             url: 'ListDefectsPartial',
   //             type: 'get',
   //             async: false,
   //             data: {
   //                 id: sessionStorage.getItem('objID'),
   //             },
   //             success: function (data) {
   //                 $('#listDefects').html(data);
   //             }
   //         });
   //     };

      
    })

    $('#cancel').click(function (e) {
        e.preventDefault();

        $('#closeModal').click();
    })
</script>

