@*Частичное представление для таблицы дефектов выбранного объекта*@

@*@model IEnumerable<ShurfWorks.Models.TableDefectModel>*@

<table border="1" style="text-align:center; border-width: 2px">
    <thead>
        <tr style="color:White;background-color:#507CD1;font-weight:bold;">
            <th colspan="6" style="background-color:white; border-width: 2px"></th>
            <th colspan="7" style="text-align:center; border-width: 2px">Внутритрубная диагностика</th>
            <th colspan="7" style="text-align:center; border-width: 2px">Дополнительное диагностическое обследование</th>
            <th colspan="4" style="text-align:center; border-width: 2px">Ремонт</th>
        </tr>

        <tr style="color:White;background-color:#507CD1;font-weight:bold;">
            <th style="text-align:center; border-width: 2px; min-width:50px">В работе</th>
            <th style="text-align:center; border-width: 2px; min-width:150px">ЛПУ</th>
            <th style="text-align:center; border-width: 2px; min-width:150px">Наименование газопровода</th>
            <th style="text-align:center; border-width: 2px; min-width:100px">Участок МГ, км-км</th>
            <th style="text-align:center; border-width: 2px; min-width:80px">Место, км.м</th>
            <th style="text-align:center; border-width: 2px; min-width:100px">№ трубы</th>

            <th style="text-align:center; border-width: 2px; min-width:150px">Вид дефекта</th>
            <th style="text-align:center; border-width: 2px; min-width:100px">Ориент. дефекта</th>
            <th style="text-align:center; border-width: 2px; min-width:100px">Длина дефекта</th>
            <th style="text-align:center; border-width: 2px; min-width:100px">Ширина дефекта</th>
            <th style="text-align:center; border-width: 2px; min-width:100px">Глубина дефекта</th>
            <th style="text-align:center; border-width: 2px; min-width:100px">Срок НО по ВТД</th>
            <th style="text-align:center; border-width: 2px; min-width:100px">Дата проведения ВТД</th>

            <th style="text-align:center; border-width: 2px; min-width:70px">Номер МПР</th>
            <th style="text-align:center; border-width: 2px; min-width:100px">Номер акта НО</th>
            <th style="text-align:center; border-width: 2px; min-width:100px">Дата начала ДДО</th>
            <th style="text-align:center; border-width: 2px; min-width:100px">Дата окончания ДДО</th>
            <th style="text-align:center; border-width: 2px; min-width:100px">Результаты ДДО</th>
            <th style="text-align:center; border-width: 2px; min-width:70px">Разр. давление</th>
            <th style="text-align:center; border-width: 2px; min-width:70px">Срок ремонта</th>

            <th style="text-align:center; border-width: 2px; min-width:100px">Дата начала</th>
            <th style="text-align:center; border-width: 2px; min-width:100px">Дата окончания</th>
            <th style="text-align:center; border-width: 2px; min-width:100px">Вид ремонта</th>
            <th style="text-align:center; border-width: 2px; min-width:200px">Примечание</th>
        </tr>
    </thead>

    @* Формируем таблицу дефектов объекта*@
    <tbody id="tableBody">
        @foreach (var defect in ViewBag.defects)
        {
            <tr>
                <td>
                    @if (defect.id_признак_состояния == 1)
                    {
                        <label><input type="checkbox" checked="checked"></label>
                    }
                    else
                    {
                        <label><input type="checkbox"></label>
                    }
                </td>
                <td>@ViewBag.lpuName</td>
                <td>@ViewBag.tubeName</td>
                <td>@ViewBag.tubePart</td>
                <td>@ViewBag.tubePlace</td>
                <td>@ViewBag.tubeNumber</td>

                @*<td>@defect.defectItems</td>*@

                <td>@defect.defKind.Наименование</td>
                <td>@defect.vtd.Ориент__дефекта</td>
                <td>@defect.vtd.Длина_дефекта</td>
                <td>@defect.vtd.Ширина_дефекта</td>
                <td>@defect.vtd.Глубина_дефекта</td>
                <td>@defect.vtd.Срок_НО_по_ВТД</td>
                <td>@defect.vtd.Дата_проведения_ВТД</td>

                <td>@defect.ddo.Номер_МПР</td>
                <td>@defect.ddo.Номер_акта_НО</td>
                <td>@defect.ddo.Дата_начала_ДДО</td>
                <td>@defect.ddo.Дата_окончания_ДДО</td>
                <td>@defect.ddoResult.Наименование</td>
                <td>@defect.ddo.Разр__давление</td>
                <td>@defect.ddo.Срок_ремонта</td>

                <td>@defect.repair.Дата_начала</td>
                <td>@defect.repair.Дата_окончания</td>
                <td>@defect.repKind.Наименование</td>
                <td>@defect.repair.Примечание</td>
                <td></td>
            </tr>
        }
        @*<td>Юргинское ЛПУ</td>
            <td>Парабель-Кузбасс</td>
            <td>405-440</td>
            <td>408,400</td>
            <td>4700</td>
            <td>Коррозия</td>
            <td>3</td>
            <td>120</td>
            <td>1150</td>
            <td>1</td>
            <td>2,7</td>
            <td>20.09.12</td>
            <td>2</td>
            <td>25</td>
            <td>11.10.12</td>
            <td>13.10.12</td>
            <td>2,53</td>
            <td>2,5</td>
            <td>Обследовано, подлежит ремонту</td>
            <td>14.10.2012</td>
            <td>20.10.2012</td>
            <td>Дефект изоляции устранен</td>
            <td></td>*@

    </tbody>
</table>
